# Data and parameters(K, L, M)

according to instructions on coursepages

In [1]:
# I was born on 10.02.1998
K=10
# given the name and surname: Vitalii Baturevych
L=len('Baturevych')
M = ((K+L)*47)%11+1
print('K={}\nL={}\nM={}'.format(K,L,M))

K=10
L=10
M=6

# Read dataframe
since dataframe is in `.rda` file - i'll use `pyreadr` to 'convert' it to pandas dataframe

In [2]:
import pyreadr
import pandas as pd
tmp = pyreadr.read_r('Sleuth2/data/case0302.rda')

In [3]:
print(tmp.keys())

odict_keys(['case0302'])

In [4]:
data = tmp['case0302']

In [5]:
display(data)

          Dioxin  Veteran
rownames
1            0.0  Vietnam
2            0.0  Vietnam
3            0.0  Vietnam
4            0.0  Vietnam
5            0.0  Vietnam
...          ...      ...
739          9.0    Other
740          9.0    Other
741         10.0    Other
742         11.0    Other
743         15.0    Other

[743 rows x 2 columns]

# Brief broblem description
 In 1987, researchers measured the TCDD concentration in blood samples
 from 646 U.S. veterans of the Vietnam War and from 97 U.S. veterans
 who did not serve in Vietnam. TCDD is a carcinogenic dioxin in the
 herbicide called Agent Orange, which was used to clear jungle hiding
 areas by the U.S. military in the Vietnam War between 1962 and 1970.
 
 We'll meet 2 groups of veterans in our dataset
 * ones who were doing their service in Vietnam during chemical wars
 * the ones who served in other parts of the world, where **no** chemical weapons were used

# Work with `data` pandas dataframe

In [26]:
import matplotlib
import matplotlib.pyplot as plt
import numpy
%matplotlib notebook

Let's check if there are really 2 groups in dataset

In [35]:
categories =data['Veteran'].unique()
print(categories)

['Vietnam', 'Other']
Categories (2, object): ['Other', 'Vietnam']

we can see that there are 2 types indeed: `Other` and `Vietnam`

let's make 2 separate dataframes for each

In [40]:
vietnam = data[data['Veteran'] == categories[0]]['Dioxin']
other = data[data['Veteran'] == categories[1]]['Dioxin']
display(vietnam, other)

rownames
1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
       ...
642    13.0
643    15.0
644    16.0
645    25.0
646    45.0
Name: Dioxin, Length: 646, dtype: float64

rownames
647     0.0
648     0.0
649     0.0
650     1.0
651     2.0
       ...
739     9.0
740     9.0
741    10.0
742    11.0
743    15.0
Name: Dioxin, Length: 97, dtype: float64

as it was written in the description we got 646 Vietnam veterans and 97 veterans from other regions, so it sits perfectly

### task 1
Pro každu skupinu zvlášť odhadněte střední hodnotu, rozptyl a medián příslušného rozdělení.

In [59]:
print('Stredni hodnota\n\tVietnam: {}\n\tOther: {}'.format(numpy.mean(vietnam),numpy.mean(other)))
print('Rozptyl\n\tVietnam: {}\n\tOther: {}'.format(numpy.var(vietnam),numpy.var(other)))
print('Median\n\tVietnam: {}\n\tOther: {}'.format(numpy.median(vietnam),numpy.median(other)))

Stredni hodnota
	Vietnam: 4.260061919504644
	Other: 4.185567010309279
Rozptyl
	Vietnam: 6.972615476042137
	Other: 5.2439154001487935
Median
	Vietnam: 4.0
	Other: 4.0

### task 2
Pro každou skupinu zvlášť odhadněte hustotu a distribuční funkci pomocí histogramu a empirické distribuční funkce.